.main {
  width: 80%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 1s;
}
.header__main{
  padding: 1rem;
  /* background-color: #fbfbfb;   */
  background-color: rgba(255,255,255,1);
  border-bottom: 1.5px solid rgba(237,242,247,1);
  position: sticky;
  top: 0;
  z-index: 1;
}
.main-navbar__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-navbar__button{
  background-color: transparent;
  border: none;
}
.main-navbar__button:hover{
  cursor: pointer;
}
.main-navbar__menu {
  width: 1.5rem;
}
.main__content {
  padding: 2rem;
  color: var(--color-primary);
  font-size: 1.2rem;
  font-weight: 400;
  max-width: 1024px;
  margin: 0 auto;
}
/* for responsive */
main.main.main--changeSizeXl{ width: 95%; }
main.main.main--changeSizeLg{ width: 96%; }
main.main.main--changeSizeNb{ width: 90%; }
main.main.main--changeSizeTb{ width: 88%; }
main.main.main--changeSizeMb{ width: 100%; }
/* end for responsive */