@media only screen and (min-width: 1200px) and (max-width: 1920px) {
	.header{ width: 20%; }
	.main{ width: 80%; }
	.close__button{ display: none; }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
	.header{ width: 20%; }
	.main{ width: 80%; }
	.close__button{ display: none; }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.header{ width: 25%; }
	.main{ width: 85%; }
	.close__button{ display: none; }
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
	.header{ width: 30%; }
	.main{ width: 70%; }
	.image_contoh{ width: 100%; }
	.close__button{ display: none; }
}
@media only screen and (max-width: 480px) {
	.header{ width: 0%;}
	.navbarBrand--icon{ display: none; }
	.main{ 
		width: 100%; 
	}
	.close__button{
		position: sticky;
		bottom: 0;
	}
	.image_contoh{ width: 100%; }
	p{ font-size: 1.1rem; }
	.intro_left > h2 {
    font-size: 2rem;
	}
	.intro_left > p {
    font-size: 1rem;
	}
}

.header--changeSizeXl{ width: 5%; }
.header--changeSizeLg{ width: 6%; }
.header--changeSizeNb{ width: 7%; }
.header--changeSizeTb{ width: 11%; }
.header--changeSizeMb{ width: 100%; }

.main--changeSizeXl{ width: 95%; }
.main--changeSizeLg{ width: 94%; }
.main--changeSizeNb{ width: 93%; }
.main--changeSizeTb{ width: 89%; }
.main--changeSizeMb{ width: 100%; }

.header__mobile--open{
	width: 100%;
	position: absolute;
	z-index: 3;
}
.temp{ width: 0%; }
.main__mobile--close{
	height: 100vh;
	overflow: hidden;
}