.hidden {
  display: none;
}
.show {
  display: block;
}
.show--fadeDown {
  animation: animate--fadeInDown;
  animation-duration: 1.2s;
}
.change--size{
  color: black;
}
.text--primary {
  color: var(--color-primary);
}