.hidden {
  display: none;
}
.show {
  display: block;
}
.show--fadeDown {
  animation: animate--fadeInDown;
  animation-duration: 1.2s;
}
.change--size{
  color: black;
}
.syntax{
	overflow: auto !important;
	border-radius: 5px;
}
.text--primary {
  color: var(--color-primary);
}