.hidden {
  display: none;
}
.show {
  display: block;
}
.show--fadeDown {
  animation: animate--fadeInDown;
  animation-duration: 1.2s;
}
.change--size{
  color: black;
}
.syntax{
	overflow: auto;
	border-radius: 5px;
}
.text--primary {
  color: var(--color-primary);
}
.tugas{
	background-color: #ff4f4f;
	border-radius: 5px;
	margin-top: 5px;
	padding: 8px;
	color: white;	
}
.tugas > p{ margin: 0; }
@keyframes animate--fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

