:root {
  /* --background-primary: #222831; */
  --background-primary: #202033;
  --background-secondary: rgba(13, 13, 13, 0.08);
  --background-third: #353550;
  --color-primary: #222831;
  --color-secondary: #f9f0f0;
}